footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natours logo')
    ul.footer__nav
        l1:a(href='#') About us
        l1:a(href='#') Download apps
        l1:a(href='#') Become a guide
        l1:a(href='#') Careers
        l1:a(href='#') Contact
    p.footer__copyright &copy;by Suyash Sorte.All rights reserved.
